
.idea/misc.xml
.idea/CIFAR10-CNN.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/convnet.cpython-38.pyc
__pycache__/dataset.cpython-38.pyc
__pycache__/engine.cpython-38.pyc
__pycache__/misc.cpython-38.pyc
log/test_log/events.out.tfevents.1692874611.DESKTOP-VOD1J4U.5600.0
.idea/workspace.xml
*.0
.idea/.name
